

body{
    margin: 0;
    padding: 0;
}
/* Navigation */


/* Navigation ENDE */


body {
    background: rgba(224, 220, 208, 0.60);
}

main{
    font-family: 'Prompt', sans-serif;
    font-size: 28px;
    margin: 0px;
    margin-right: 0px;
    
}

/* part1 */

.Bild1 {
    position: relative;
    max-height: 1024px; /* Maximale Höhe des Bildes */
    max-width: 100%; /* Maximale Breite auf 100% des übergeordneten Elements setzen */
    overflow: hidden; /* Schneidet überstehende Inhalte ab */
}

.Bild1 img {
    max-width: 100%; /* Stellt sicher, dass das Bild nicht breiter als sein Container ist */
    height: auto; /* Erhält das Seitenverhältnis des Bildes */
}

.Bild1 .rechteck {
    width: calc(100% - 327px - 40px); /* Anpassung der Breite an den Container */
    height: auto; /* Höhe abhängig vom Inhalt und zusätzlichem Abstand */
    background: rgba(224, 220, 208, 0.80);
    position: absolute;
    left: 327px;
    top: 713px;
    padding: 15px 40px 50px 67px; /* Top Right Bottom Left */
    bottom: 35px; /* 35px Abstand vom unteren Rand */
}




.DeinSchluessel {
    color: #F67072;
    font-size: 70px;
    font-family: 'Righteous';
    font-weight: 400;
    word-wrap: break-word;
    margin: 0; /* Kein zusätzlicher Abstand */
    width: 971px;
    height: 174px;
    flex-shrink: 0;
}

.WirBringenMenschen {
    color: black;
    font-size: 26px;
    font-family: SeoulNamsan;
    font-weight: 400;
    word-wrap: break-word;
    margin-top: 5px; /* Etwas Abstand zwischen den Texten */
    margin-bottom: 15px; /* Abstand unten */
    width: 708.181px;
    height: 65px;
    flex-shrink: 0;
}


.part2 .rechteck2 {
    position: relative;
    height: 897px; /* Setzen der Höhe des Containers */
    /* Weitere Stile für rechteck2 */
}

.Heading1 {
    position: absolute;
    left: 50px;
    top: 228px;

}

.Heading1 .Dream, .Heading1 .WG, .Heading1 .Finden {
    color: black;
    font-size: 70px;
    font-family: 'Righteous', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}

.Heading1 .WG {
    color: #98C6B9; /* Spezifische Farbe für 'WG' */
}

/* Stile für Description1, Rechteck-button1 und rechtecktpink, falls benötigt */


.Description1 {
    position: absolute;
    right: 657px;
    left: 66px;
    top: 380px;
    /* Die Höhe passt sich dem Inhalt an, kein 'bottom' definiert */
    /* Weitere Stile für Description1 */
}

/* Stile für Rechteck-button1 und rechtecktpink, falls benötigt */


.Rechteck-button1 {
    position: absolute;
    width: 507px;
    height: 119.604px;
    left: 862px; 
    top: 96px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #E0DCD0; /* Hintergrundfarbe von Button1 */
    box-shadow: 9px 6.86px 0px 0 rgba(246, 112, 114, 0.50); /* Schatten mit scharfen Kanten */
}

.Rechteck-button2 {
    position: absolute;
    width: 507px;
    height: 119.604px;
    left: 862px; 
    top: 290px; 
    flex-shrink: 0;
    border: 1px solid #000;
    background: #E0DCD0; /* Hintergrundfarbe von Button2 */
    box-shadow: 9px 6.86px 0px 0 rgba(153, 198, 184, 1); 
}

.Rechteck-button3 {
    position: absolute;
    width: 507px;
    height: 119.604px;
    left: 862px; 
    top: 484px; 
    flex-shrink: 0;
    border: 1px solid #000;
    background: #E0DCD0; /* Hintergrundfarbe von Button3 */
    box-shadow: 9px 6.86px 0px 0 #E0CB38; 
}

.Rechteck-button4 {
    position: absolute;
    width: 507px;
    height: 119.604px;
    left: 862px; 
    top: 678px; 
    flex-shrink: 0;
    border: 1px solid #000;
    background: #E0DCD0; /* Hintergrundfarbe von Button4 */
    box-shadow: 9px 6.86px 0px 0 rgba(246, 112, 114, 1); 
    
}

.Rectangle2 {
    position: absolute;
    top: 50%; /* Zentrierung in der vertikalen Achse */
    left: 20px; /* Abstand von links */
    right: 427px; /* Abstand von rechts */
    transform: translateY(-50%); /* Verschiebung um die eigene halbe Höhe nach oben */
    height: auto; /* Automatische Höhenanpassung */
    width: auto; /* Automatische Breitenanpassung */
}

.button-text1 {
    position: absolute;
    top: 50%;
    left: 133px; /* Abstand von links */
    right: 27px; /* Abstand von rechts */
    transform: translateY(-50%); /* Vertikale Zentrierung */
    text-align: left; /* Textausrichtung */

    /* Typografie-Stile */
    color: #000;
    font-family: 'SeoulNamsan', sans-serif; /* Stellen Sie sicher, dass die Schriftart geladen ist */
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button-text2 {
    position: absolute;
    top: 50%;
    left: 133px; /* Abstand von links */
    right: 27px; /* Abstand von rechts */
    transform: translateY(-50%); /* Vertikale Zentrierung */
    text-align: left; /* Textausrichtung */

    /* Typografie-Stile */
    color: #000;
    font-family: 'SeoulNamsan', sans-serif; /* Stellen Sie sicher, dass die Schriftart geladen ist */
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.button-text3 {
    position: absolute;
    top: 50%;
    left: 133px; /* Abstand von links */
    right: 27px; /* Abstand von rechts */
    transform: translateY(-50%); /* Vertikale Zentrierung */
    text-align: left; /* Textausrichtung */

    /* Typografie-Stile */
    color: #000;
    font-family: 'SeoulNamsan', sans-serif; /* Stellen Sie sicher, dass die Schriftart geladen ist */
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.button-text4 {
    position: absolute;
    top: 50%;
    left: 133px; /* Abstand von links */
    right: 27px; /* Abstand von rechts */
    transform: translateY(-50%); /* Vertikale Zentrierung */
    text-align: left; /* Textausrichtung */

    /* Typografie-Stile */
    color: #000;
    font-family: 'SeoulNamsan', sans-serif; /* Stellen Sie sicher, dass die Schriftart geladen ist */
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.part3 {
    display: block;
    /* Grundlegende Stile für part3, falls benötigt */
}

.rechteck3 {
    position: relative;
    width: 1445px;
    height: 1126px;
    flex-shrink: 0;
    background: #99C6B8;
}

.Deine, .Wohngemeinschaft, .deine-Interessen-dein-Zuhause {
    position: absolute;
    right: 122px; /* Abstand von rechts */
    left: 602px;  /* Abstand von links */
    font-family: 'Righteous', sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Deine {
    top: 50px; /* Abstand von oben für die erste Zeile */
    color: #000;
}

.Wohngemeinschaft {
    top: 130px; /* Abstand von oben für die zweite Zeile */
    color: #B1A12D;
}

.deine-Interessen-dein-Zuhause {
    top: 210px; /* Abstand von oben für die dritte und vierte Zeile */
    color: #000;
}

.Description2 {
    position: absolute;
    top: 479.69px;    /* Abstand von oben */
    bottom: 1928px;   /* Abstand von unten */
    right: 225px;     /* Abstand von rechts */
    left: 602px;      /* Abstand von links */
    width: auto;      /* Automatische Breite basierend auf Position und Inhalt */
    height: auto;     /* Automatische Höhe basierend auf Inhalt */
    color: #000;
    font-family: 'SeoulNamsan', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.image3 {
    position: absolute;
    top: 205.65px;     /* Abstand von oben */
    bottom: 136.91px;  /* Abstand von unten */
    right: 996px;      /* Abstand von rechts */
    left: 68px;        /* Abstand von links */
    width: 381px;
    height: 783.438px;
    flex-shrink: 0;
}
.btn-los-gehts {
    position: absolute;
    left: 1004.5px; /* Abstand von links */
    top: 993px; /* Abstand von oben */
    width: 309px; /* Breite des Buttons */
    height: 91.3px; /* Höhe des Buttons */
    background-color: rgba(177, 161, 45, 1); /* Hintergrundfarbe */
    color: black; /* Textfarbe */
    font-size: 40px; /* Schriftgröße */
    font-family: 'SeoulNamsan', sans-serif; /* Schriftart */
    font-weight: 400; /* Schriftgewicht */
    border: none; /* Entfernt den Standard-Rand von Buttons */
    cursor: pointer; /* Zeigt einen Zeiger-Cursor an, um Klickbarkeit anzuzeigen */
    text-align: center; /* Zentriert den Text im Button */
    line-height: 91.3px; /* Zentriert den Text vertikal */
    word-wrap: break-word; /* Sorgt dafür, dass der Text bei Bedarf umbricht */
}














