footer {
    background-color: rgba(152, 151, 151, 1);
    color: white;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-logo img {
    max-height: 100px; /* Anpassen nach Bedarf */
}

.footer-menu, .footer-social-media, .footer-newsletter {
    margin: 0 15px;
    
}
.footer-menu, .footer-social-media{
    flex: 1;
}
.footer-newsletter {
    margin-left: auto;
}
.footer-menu ul, .footer-social-media ul, .footer-nav ul {
    list-style: none;
    padding: 0;
}

.footer-newsletter input[type="email"] {
    background-color: rgba(217, 217, 217, 1);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    width: 200px; /* Anpassen nach Bedarf */
}

.footer-app-buttons img {
    margin-top: 10px;
    display: block;
    width: 200px;

}

.footer-nav {
    background-color: transparent;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.footer-nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-nav li {
    color: black;
}