body{
    background: rgba(224, 220, 208, 0.60);
}

.contact {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.title {
    color: black;
    font-size: 70px;
    font-family: 'Righteous', serif;
    font-weight: 400;
    word-wrap: break-word;
    margin-bottom: 100px;
    margin-left: -250px;
}

.name {
    color: rgba(246, 112, 114, 0.80);
    font-size: 32px;
    font-family: 'Righteous', serif;
    font-weight: 400;
    word-wrap: break-word;
}
#name {
    width: 780px;
    height: 80px;
    background: #E0DCD0;
    border: none;
    margin-bottom: 70px;

}

#email {
    width: 780px;
    height: 80px;
    background: #E0DCD0;
    border: none;
    margin-bottom: 70px;

}


.email {
    color: rgba(153, 198, 184, 0.80);
    font-size: 32px;
    font-family: 'Righteous', serif;
    font-weight: 400;
    word-wrap: break-word;
}

.message {
    color: #DFD37D;
    font-size: 32px;
    font-family: 'Righteous', serif;
    font-weight: 400;
    word-wrap: break-word;
}



.sendButton {
    width: 100px;
    height: 50px;
    font-family: 'Righteous', serif;
    font-weight: 400;
    color: black;
    background-color: #F67072;
    font-size: 20px;
    border: none;
    margin-top: 30px;
    margin-bottom: 250px;
}

textarea {
    width: 780px;
    height: 80px;
    background: #E0DCD0;
    border: none;

}

.zusatzabstand {
    height: 100px; /* Höhe des zusätzlichen Abstands */
    
}


